Screen {
    background: black;
    color: green;
}

#wallpaper {
    layer: below;
    opacity: 0.3;
    dock: top;
    width: 100%;
    height: 100%;
}

#main_layout {
    height: 100%;
}

#menu_panel {
    width: 30%;
    border: round green;
    padding: 1 2;
}

#content {
    width: 70%;
    padding: 1 2;
}
