Screen {
    background: black;
    color: green;
}

#wallpaper {
    layer: below;
    opacity: 0.3;
    dock: top;
    width: 100%;
    height: 100%;
}

#main_layout {
    height: 100%;
    align-horizontal: center;
    align-vertical: middle;
}

#menu_panel {
    width: 25%;
    min-width: 20;
    border: round green;
    padding: 1 2;
    dock: left;
    align: center top;
}

#content {
    width: 75%;
    padding: 1 2;
    dock: right;
}

FancyListView {
    width: 100%;
}

FancyMenuItem {
    height: auto;
    padding: 0 1;
    background: black;
    color: green;
}
